# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
streamlit_env/
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# Данные (большие файлы)
data/
*.csv

# Модель (слишком большая для GitHub без LFS - 108 MB)
*.pkl
*.pickle
best_pipeline_final.pkl

# Временные файлы
.DS_Store
*.log
*.tmp

# Streamlit secrets (не коммитьте секреты!)
.streamlit/secrets.toml

# Ноутбуки (опционально, если не хотите их в репозитории)
# *.ipynb

